fieldset {
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
}

legend {
    font-weight: 600;
    margin-bottom: $small-spacing / 2;
    padding: 0;
}

label {
    display: block;
    font-weight: 600;
    margin-bottom: $small-spacing / 2;
}

input,
select {
    display: block;
    font-family: $base-font-family;
    font-size: .9rem;
}

#{$all-text-inputs},
select[multiple] {
    background-color: $base-background-color;
    border: $base-border;
    border-radius: $base-border-radius;
    box-shadow: $form-box-shadow;
    box-sizing: border-box;
    font-family: $base-font-family;
    font-size: .9rem;
    margin-bottom: $small-spacing;
    padding: $base-spacing / 2;
    transition: border-color $base-duration $base-timing;
    width: 100%;

    &:hover {
        border-color: shade($base-border-color, 20%);
    }

    &:focus {
        border-color: $action-color;
        box-shadow: $form-box-shadow-focus;
        outline: none;
    }

    &:disabled {
        background-color: shade($base-background-color, 5%);
        cursor: not-allowed;

        &:hover {
            border: $base-border;
        }
    }
}

textarea {
    resize: vertical;
}

[type="search"] {
    appearance: none;
}

[type="checkbox"],
[type="radio"] {
    display: inline;
    margin-right: $small-spacing / 2;
}

[type="file"] {
    margin-bottom: $small-spacing;
    width: 100%;
}

[type="submit"] {
    font-size: 0.9em;
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 0.6em 1.8em;
    color: #fff;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

select {
    margin-bottom: $base-spacing;
    max-width: 100%;
    width: auto;
}

.scr-only {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);

    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

body:hover .scr-only a, body:hover .scr-only input, body:hover .scr-only button {
    display: none !important;
}

.wpcf7-form-control-wrap + br, .scr-only + br {
    display: none;
}

.left-form, .right-form {
    @include media($screen-md) {
        @include span-columns(6 of 12);

        @include omega(3);
    }
}

.right-form {
    @include media($screen-md) {
        float: right;

        textarea {
            @include media($screen-md) {
                height: 6.5em;
            }
        }
    }
}

.bottom-form {
    @include span-columns(12 of 12);

    input {
        margin: 0.5em auto 0 auto;
        display: block;
    }
}