
.wpcf7-response-output {
	border-color: white !important;
    border-width: 1px;
    clear: both;
    padding: 0.5em 1em;
    margin: 0 auto;
    position: relative;
    top: 1em;
    border-radius: 2px;
    width: 100%;
}

.wpcf7-not-valid-tip {
    color: #fff!important;
    font-size: 1em;
    display: block;
    font-style: italic;
}