.icon-linkedin { background-image: url('app/icons/linkedin.png'); background-repeat: no-repeat; }

.icon-logo { background-image: url('app/icons/logo.png'); background-repeat: no-repeat; }

.icon-mail { background-image: url('app/icons/mail.png'); background-repeat: no-repeat; }

.icon-phone { background-image: url('app/icons/phone.png'); background-repeat: no-repeat; }

