<section class="section--intro text--center bg--black color--white spacing--vert-4 spacing--dsk-vert-6">
	<div class="max--wrap spacing--gutter-mob spacing--dsk-horiz-2">
		<h2 class="font--italic color--white">{{home.title}}</h2>
	</div>
</section>