<section class="section--fix spacing--gutter bg--white">
	<i class="icon-logo" data-grunticon-embed></i>
	<div class="block--fix-icons">
		<a target="_blank" class="" href="{{social.linkedin}}"><i class="icon-linkedin" data-grunticon-embed></i></a>
		<a class="phone" href="tel:{{social.phone}}" data-phone="{{social.phone}}"><i class="icon-phone" data-grunticon-embed></i></a>
		<a class="" href="#contact"><i class="icon-mail" data-grunticon-embed></i></a>
	</div>
</section>