<section class="section--about spacing--vert-2 spacing--dsk-vert-6">
	<div class="max--wrap spacing--gutter-mob">
		<h3 class="text--center font--italic">About Dana Williamson</h3>
		{{home.subtitle}}
	</div>
</section>